# System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.eslintrc.json

# Dev Files
files/maps/**/*.png
time.php
fish.js
gt.bell.js
locale.js
locale-ko.js
nodes.js
timers.js
index.dev.html

# PWA
icons/Icon-*.png
manifest.json
service-worker.js

# Trashes
he.js
origami.min.js
files/maps/**/Region*.jpg
/bell
/bell_new
/bell_expand